<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.tw.dt.unit.CoordinatorStarterSnapshotTests</string>
	<key>Description</key>
	<string>Simple snapshot tests with pointfreeco/swift-snapshot-testing.</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle.unit-test</string>
			<key>TargetIdentifier</key>
			<string>com.tw.dt.unit.CoordinatorStarterSnapshotTestsTarget</string>
			<key>TargetIdentifierToBeTested</key>
			<string>com.tw.dt.unit.CoordinatorStarterTarget</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
			</dict>
		</dict>
	</array>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Target to be Tested:</string>
		<key>PopUpDescription</key>
		<string>The target that this new test bundle will be testing. The new unit test will be associated with that target&apos;s scheme.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>AssociatedTargetIsTargetToBeTested</key>
		<true/>
	</dict>
	<key>Nodes</key>
	<array>
		<string>SnapshotTests/ItemCreateViewSnapshots.swift</string>
		<string>SnapshotTests/ItemDetailViewSnapshots.swift</string>
		<string>SnapshotTests/ItemsListViewSnapshots.swift</string>
		<string>SnapshotTests/OnboardingViewSnapshots.swift</string>
		<string>SnapshotTests/SettingsListViewSnapshots.swift</string>
		<string>SnapshotTests/SignInSignUpViewSnapshots.swift</string>
		<string>SnapshotTests/TabBarControllerSnapshots.swift</string>
		<string>TestHelpers.swift</string>
		<string>README.md</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>SnapshotTests/ItemCreateViewSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/ItemCreateViewSnapshots.swift</string>
		</dict>
		<key>SnapshotTests/ItemDetailViewSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/ItemDetailViewSnapshots.swift</string>
		</dict>
		<key>SnapshotTests/ItemsListViewSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/ItemsListViewSnapshots.swift</string>
		</dict>
		<key>SnapshotTests/OnboardingViewSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/OnboardingViewSnapshots.swift</string>
		</dict>
		<key>SnapshotTests/SettingsListViewSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/SettingsListViewSnapshots.swift</string>
		</dict>
		<key>SnapshotTests/SignInSignUpViewSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/SignInSignUpViewSnapshots.swift</string>
		</dict>
		<key>SnapshotTests/TabBarControllerSnapshots.swift</key>
		<dict>
			<key>Group</key>
			<string>SnapshotTests</string>
			<key>Path</key>
			<string>SnapshotTests/TabBarControllerSnapshots.swift</string>
		</dict>
		<key>TestHelpers.swift</key>
		<dict>
			<key>Path</key>
			<string>TestHelpers.swift</string>
		</dict>
		<key>README.md</key>
		<dict>
			<key>Path</key>
			<string>README.md</string>
		</dict>
	</dict>
</dict>
</plist>
