<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.tw.dt.unit.CoordinatorStarter</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>A full working start with Coordinators, a Router, several Flows, and full Quick &amp; Nimble spec and Snapshot test coverage.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.tw.dt.unit.CoordinatorStarterTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasQuickandNimbleSpecs</string>
			<key>Name</key>
			<string>Include Quick &amp; Nimble Specs</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>300</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.tw.dt.unit.CoordinatorStarterQuickSpecs</string>
							<key>Name</key>
							<string>___PACKAGENAME___-Specs</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasSnapshotTests</string>
			<key>Name</key>
			<string>Include Snapshot Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>300</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.tw.dt.unit.CoordinatorStarterSnapshotTests</string>
							<key>Name</key>
							<string>___PACKAGENAME___-SnapshotTests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Language:</string>
			<key>Description</key>
			<string>Your primary implementation language.</string>
			<key>SortOrder</key>
			<integer>120</integer>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>Swift</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
			</array>
			<key>Variables</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>ibCustomModuleProvider</key>
					<string>target</string>
					<key>moduleNamePrefixForClasses</key>
					<string>$(PRODUCT_MODULE_NAME).</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:iPhone</string>
		<string>Info.plist:UIApplicationSceneManifest</string>
		<string>Info.plist:UIRequiredDeviceCapabilities</string>
		<string>Info.plist:UIRequiredDeviceCapabilities:base</string>
		<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
		<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
		<string>Info.plist:UIApplicationSupportsIndirectInputEvents</string>
		<string>Info.plist:UIStatusBarHidden</string>
		<string>Info.plist:UILaunchScreen</string>
		<string>App/AppCoordinator.swift</string>
		<string>App/AppDelegate.swift</string>
		<string>App/main.swift</string>
		<string>App/SceneDelegate.swift</string>
		<string>Classes/BaseCoordinator.swift</string>
		<string>Classes/Router.swift</string>
		<string>Data/Models/ItemModel.swift</string>
		<string>Data/Stores/AppState.swift</string>
		<string>Data/Stores/ItemsStore.swift</string>
		<string>Factories/ControllerFactory.swift</string>
		<string>Factories/CoordinatorFactory.swift</string>
		<string>Flows/AuthenticationFlow/AuthenticationCoordinator.swift</string>
		<string>Flows/AuthenticationFlow/SignInSignUpView.swift</string>
		<string>Flows/AuthenticationFlow/SignInSignUpViewController.swift</string>
		<string>Flows/ItemsTabFlow/Components/ItemCellView.swift</string>
		<string>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateCoordinator.swift</string>
		<string>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateView.swift</string>
		<string>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateViewController.swift</string>
		<string>Flows/ItemsTabFlow/ItemDetailView.swift</string>
		<string>Flows/ItemsTabFlow/ItemDetailViewController.swift</string>
		<string>Flows/ItemsTabFlow/ItemsListView.swift</string>
		<string>Flows/ItemsTabFlow/ItemsListViewController.swift</string>
		<string>Flows/ItemsTabFlow/ItemsTabCoordinator.swift</string>
		<string>Flows/OnboardingFlow/OnboardingCoordinator.swift</string>
		<string>Flows/OnboardingFlow/OnboardingView.swift</string>
		<string>Flows/OnboardingFlow/OnboardingViewController.swift</string>
		<string>Flows/SettingsTabFlow/SettingsListView.swift</string>
		<string>Flows/SettingsTabFlow/SettingsListViewController.swift</string>
		<string>Flows/SettingsTabFlow/SettingsTabCoordinator.swift</string>
		<string>Flows/TabBarFlow/TabBarController.swift</string>
		<string>Flows/TabBarFlow/TabBarCoordinator.swift</string>
		<string>Helpers/Extensions/UIColor+Hex.swift</string>
		<string>Helpers/Extensions/UIFont+PreferredFontWithWeight.swift</string>
		<string>Helpers/Extensions/UITextField+SetSidePadding.swift</string>
		<string>Helpers/Extensions/UIViewController+TapToDismissKeyboard.swift</string>
		<string>Helpers/Utils/Helper.swift</string>
		<string>Helpers/Utils/Helper+GetDocumentDirectory.swift</string>
		<string>Protocols/PresentableProtocol.swift</string>
		<string>Resources/Assets.xcassets</string>
		<string>Resources/Strings/en.lproj/Localizable.strings</string>
		<string>Resources/Strings/fr-CA.lproj/Localizable.strings</string>
		<string>Resources/Strings/Strings.swift</string>
		<string>Resources/LICENSE</string>
		<string>Resources/ThirdPartyNotices</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:iPhone</key>
		<string>&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;
</string>
		<key>Info.plist:UIApplicationSceneManifest</key>
		<dict>
			<key>Beginning</key>
			<string>
            &lt;key&gt;UIApplicationSceneManifest&lt;/key&gt;
            &lt;dict&gt;
                &lt;key&gt;UIApplicationSupportsMultipleScenes&lt;/key&gt;
                &lt;false/&gt;
                &lt;key&gt;UISceneConfigurations&lt;/key&gt;
                &lt;dict&gt;
                    &lt;key&gt;UIWindowSceneSessionRoleApplication&lt;/key&gt;
                    &lt;array&gt;
                        &lt;dict&gt;
                            &lt;key&gt;UISceneConfigurationName&lt;/key&gt;
                            &lt;string&gt;Default Configuration&lt;/string&gt;
                            &lt;key&gt;UISceneDelegateClassName&lt;/key&gt;
                            &lt;string&gt;$(PRODUCT_MODULE_NAME).SceneDelegate&lt;/string&gt;
</string>
			<key>End</key>
			<string>
                        &lt;/dict&gt;
                    &lt;/array&gt;
                &lt;/dict&gt;
            &lt;/dict&gt;
</string>
			<key>Indent</key>
			<integer>2</integer>
		</dict>
		<key>Info.plist:UIRequiredDeviceCapabilities</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:UIRequiredDeviceCapabilities:base</key>
		<string>&lt;string&gt;armv7&lt;/string&gt;</string>
		<key>Info.plist:UISupportedInterfaceOrientations~iPhone</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations&lt;/key&gt;
&lt;array&gt;
     &lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
&lt;/array&gt;
</string>
		<key>Info.plist:UISupportedInterfaceOrientations~iPad</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations~ipad&lt;/key&gt;
&lt;array&gt;
    &lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
    &lt;string&gt;UIInterfaceOrientationPortraitUpsideDown&lt;/string&gt;
    &lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
    &lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;
</string>
		<key>Info.plist:UIApplicationSupportsIndirectInputEvents</key>
		<string>&lt;key&gt;UIApplicationSupportsIndirectInputEvents&lt;/key&gt;
&lt;true/&gt;
</string>
		<key>Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;&lt;true/&gt;</string>
		<key>Info.plist:UILaunchScreen</key>
		<string>
      &lt;key&gt;UILaunchScreen&lt;/key&gt;
      &lt;dict&gt;
        &lt;key&gt;UIColorName&lt;/key&gt;
        &lt;string&gt;Launch-White&lt;/string&gt;
      &lt;/dict&gt;
    </string>
		<key>App/AppCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<string>App</string>
			<key>Path</key>
			<string>App/AppCoordinator.swift</string>
		</dict>
		<key>App/AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<string>App</string>
			<key>Path</key>
			<string>App/AppDelegate.swift</string>
		</dict>
		<key>App/main.swift</key>
		<dict>
			<key>Group</key>
			<string>App</string>
			<key>Path</key>
			<string>App/main.swift</string>
		</dict>
		<key>App/SceneDelegate.swift</key>
		<dict>
			<key>Group</key>
			<string>App</string>
			<key>Path</key>
			<string>App/SceneDelegate.swift</string>
		</dict>
		<key>Classes/BaseCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/BaseCoordinator.swift</string>
		</dict>
		<key>Classes/Router.swift</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/Router.swift</string>
		</dict>
		<key>Data/Models/ItemModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Data/Models/ItemModel.swift</string>
		</dict>
		<key>Data/Stores/AppState.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Stores</string>
			</array>
			<key>Path</key>
			<string>Data/Stores/AppState.swift</string>
		</dict>
		<key>Data/Stores/ItemsStore.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Stores</string>
			</array>
			<key>Path</key>
			<string>Data/Stores/ItemsStore.swift</string>
		</dict>
		<key>Factories/ControllerFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>Factories</string>
			<key>Path</key>
			<string>Factories/ControllerFactory.swift</string>
		</dict>
		<key>Factories/CoordinatorFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>Factories</string>
			<key>Path</key>
			<string>Factories/CoordinatorFactory.swift</string>
		</dict>
		<key>Flows/AuthenticationFlow/AuthenticationCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>AuthenticationFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/AuthenticationFlow/AuthenticationCoordinator.swift</string>
		</dict>
		<key>Flows/AuthenticationFlow/SignInSignUpView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>AuthenticationFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/AuthenticationFlow/SignInSignUpView.swift</string>
		</dict>
		<key>Flows/AuthenticationFlow/SignInSignUpViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>AuthenticationFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/AuthenticationFlow/SignInSignUpViewController.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/Components/ItemCellView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
				<string>Components</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/Components/ItemCellView.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
				<string>ItemCreateFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateCoordinator.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
				<string>ItemCreateFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateView.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
				<string>ItemCreateFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateViewController.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemDetailView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemDetailView.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemDetailViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemDetailViewController.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemsListView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemsListView.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemsListViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemsListViewController.swift</string>
		</dict>
		<key>Flows/ItemsTabFlow/ItemsTabCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/ItemsTabFlow/ItemsTabCoordinator.swift</string>
		</dict>
		<key>Flows/OnboardingFlow/OnboardingCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>OnboardingFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/OnboardingFlow/OnboardingCoordinator.swift</string>
		</dict>
		<key>Flows/OnboardingFlow/OnboardingView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>OnboardingFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/OnboardingFlow/OnboardingView.swift</string>
		</dict>
		<key>Flows/OnboardingFlow/OnboardingViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>OnboardingFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/OnboardingFlow/OnboardingViewController.swift</string>
		</dict>
		<key>Flows/SettingsTabFlow/SettingsListView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>SettingsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/SettingsTabFlow/SettingsListView.swift</string>
		</dict>
		<key>Flows/SettingsTabFlow/SettingsListViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>SettingsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/SettingsTabFlow/SettingsListViewController.swift</string>
		</dict>
		<key>Flows/SettingsTabFlow/SettingsTabCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>SettingsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/SettingsTabFlow/SettingsTabCoordinator.swift</string>
		</dict>
		<key>Flows/TabBarFlow/TabBarController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>TabBarFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/TabBarFlow/TabBarController.swift</string>
		</dict>
		<key>Flows/TabBarFlow/TabBarCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>TabBarFlow</string>
			</array>
			<key>Path</key>
			<string>Flows/TabBarFlow/TabBarCoordinator.swift</string>
		</dict>
		<key>Helpers/Extensions/UIColor+Hex.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Helpers/Extensions/UIColor+Hex.swift</string>
		</dict>
		<key>Helpers/Extensions/UIFont+PreferredFontWithWeight.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Helpers/Extensions/UIFont+PreferredFontWithWeight.swift</string>
		</dict>
		<key>Helpers/Extensions/UITextField+SetSidePadding.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Helpers/Extensions/UITextField+SetSidePadding.swift</string>
		</dict>
		<key>Helpers/Extensions/UIViewController+TapToDismissKeyboard.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Helpers/Extensions/UIViewController+TapToDismissKeyboard.swift</string>
		</dict>
		<key>Helpers/Utils/Helper.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>Helpers/Utils/Helper.swift</string>
		</dict>
		<key>Helpers/Utils/Helper+GetDocumentDirectory.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>Helpers/Utils/Helper+GetDocumentDirectory.swift</string>
		</dict>
		<key>Protocols/PresentableProtocol.swift</key>
		<dict>
			<key>Group</key>
			<string>Protocols</string>
			<key>Path</key>
			<string>Protocols/PresentableProtocol.swift</string>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Assets.xcassets</string>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Type</key>
					<string>appicon</string>
					<key>Name</key>
					<string>AppIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
					</dict>
				</dict>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Resources/Strings/en.lproj/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Strings</string>
				<string>en.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/Strings/en.lproj/Localizable.strings</string>
		</dict>
		<key>Resources/Strings/fr-CA.lproj/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Strings</string>
				<string>fr-CA.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/Strings/fr-CA.lproj/Localizable.strings</string>
		</dict>
		<key>Resources/Strings/Strings.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Strings</string>
			</array>
			<key>Path</key>
			<string>Resources/Strings/Strings.swift</string>
		</dict>
		<key>Resources/LICENSE</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/LICENSE</string>
		</dict>
		<key>Resources/ThirdPartyNotices</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/ThirdPartyNotices</string>
		</dict>
	</dict>
</dict>
</plist>
