<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.tw.dt.unit.CoordinatorStarterQuickSpecs</string>
	<key>Description</key>
	<string>Complete Quick &amp; Nimble spec coverage for the Coordinator Starter.</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle.unit-test</string>
			<key>TargetIdentifier</key>
			<string>com.tw.dt.unit.CoordinatorStarterQuickSpecsTarget</string>
			<key>TargetIdentifierToBeTested</key>
			<string>com.tw.dt.unit.CoordinatorStarterTarget</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
			</dict>
		</dict>
	</array>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Target to be Tested:</string>
		<key>PopUpDescription</key>
		<string>The target that this new test bundle will be testing. The new unit test will be associated with that target&apos;s scheme.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>AssociatedTargetIsTargetToBeTested</key>
		<true/>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Specs/App/AppCoordinatorSpec.swift</string>
		<string>Specs/Classes/BaseCoordinatorSpec.swift</string>
		<string>Specs/Classes/RouterSpec.swift</string>
		<string>Specs/Data/Models/ItemModelSpec.swift</string>
		<string>Specs/Data/Stores/AppStateSpec.swift</string>
		<string>Specs/Data/Stores/ItemsStoreSpec.swift</string>
		<string>Specs/Factories/ControllerFactorySpec.swift</string>
		<string>Specs/Factories/CoordinatorFactorySpec.swift</string>
		<string>Specs/Flows/AuthenticationFlow/AuthenticationCoordinatorSpec.swift</string>
		<string>Specs/Flows/AuthenticationFlow/SignInSignUpViewControllerSpec.swift</string>
		<string>Specs/Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateCoordinatorSpec.swift</string>
		<string>Specs/Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateViewControllerSpec.swift</string>
		<string>Specs/Flows/ItemsTabFlow/ItemDetailViewControllerSpec.swift</string>
		<string>Specs/Flows/ItemsTabFlow/ItemsListViewControllerSpec.swift</string>
		<string>Specs/Flows/ItemsTabFlow/ItemsTabCoordinatorSpec.swift</string>
		<string>Specs/Flows/OnboardingFlow/OnboardingCoordinatorSpec.swift</string>
		<string>Specs/Flows/OnboardingFlow/OnboardingViewControllerSpec.swift</string>
		<string>Specs/Flows/SettingsTabFlow/SettingsListViewControllerSpec.swift</string>
		<string>Specs/Flows/SettingsTabFlow/SettingsTabCoordinatorSpec.swift</string>
		<string>Specs/Flows/TabBarFlow/TabBarControllerSpec.swift</string>
		<string>Specs/Flows/TabBarFlow/TabBarCoordinatorSpec.swift</string>
		<string>TestAppDelegates/TestAppDelegate.swift</string>
		<string>TestAppDelegates/TestSceneDelegate.swift</string>
		<string>TestDoubles/MockAppState.swift</string>
		<string>TestDoubles/MockCoordinatorFactory.swift</string>
		<string>TestDoubles/MockItemsStore.swift</string>
		<string>TestDoubles/SpyControllerFactory.swift</string>
		<string>TestDoubles/SpyCoordinator.swift</string>
		<string>TestDoubles/SpyRouter.swift</string>
		<string>TestHelpers/TestHelpers.swift</string>
		<string>README.md</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Specs/App/AppCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>Specs/App/AppCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Classes/BaseCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Specs/Classes/BaseCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Classes/RouterSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Specs/Classes/RouterSpec.swift</string>
		</dict>
		<key>Specs/Data/Models/ItemModelSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Data</string>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Specs/Data/Models/ItemModelSpec.swift</string>
		</dict>
		<key>Specs/Data/Stores/AppStateSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Data</string>
				<string>Stores</string>
			</array>
			<key>Path</key>
			<string>Specs/Data/Stores/AppStateSpec.swift</string>
		</dict>
		<key>Specs/Data/Stores/ItemsStoreSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Data</string>
				<string>Stores</string>
			</array>
			<key>Path</key>
			<string>Specs/Data/Stores/ItemsStoreSpec.swift</string>
		</dict>
		<key>Specs/Factories/ControllerFactorySpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Factories</string>
			</array>
			<key>Path</key>
			<string>Specs/Factories/ControllerFactorySpec.swift</string>
		</dict>
		<key>Specs/Factories/CoordinatorFactorySpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Factories</string>
			</array>
			<key>Path</key>
			<string>Specs/Factories/CoordinatorFactorySpec.swift</string>
		</dict>
		<key>Specs/Flows/AuthenticationFlow/AuthenticationCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>AuthenticationFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/AuthenticationFlow/AuthenticationCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Flows/AuthenticationFlow/SignInSignUpViewControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>AuthenticationFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/AuthenticationFlow/SignInSignUpViewControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
				<string>ItemCreateFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateViewControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
				<string>ItemCreateFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/ItemsTabFlow/ItemCreateFlow/ItemCreateViewControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/ItemsTabFlow/ItemDetailViewControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/ItemsTabFlow/ItemDetailViewControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/ItemsTabFlow/ItemsListViewControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/ItemsTabFlow/ItemsListViewControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/ItemsTabFlow/ItemsTabCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>ItemsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/ItemsTabFlow/ItemsTabCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Flows/OnboardingFlow/OnboardingCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>OnboardingFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/OnboardingFlow/OnboardingCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Flows/OnboardingFlow/OnboardingViewControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>OnboardingFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/OnboardingFlow/OnboardingViewControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/SettingsTabFlow/SettingsListViewControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>SettingsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/SettingsTabFlow/SettingsListViewControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/SettingsTabFlow/SettingsTabCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>SettingsTabFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/SettingsTabFlow/SettingsTabCoordinatorSpec.swift</string>
		</dict>
		<key>Specs/Flows/TabBarFlow/TabBarControllerSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>TabBarFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/TabBarFlow/TabBarControllerSpec.swift</string>
		</dict>
		<key>Specs/Flows/TabBarFlow/TabBarCoordinatorSpec.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Specs</string>
				<string>Flows</string>
				<string>TabBarFlow</string>
			</array>
			<key>Path</key>
			<string>Specs/Flows/TabBarFlow/TabBarCoordinatorSpec.swift</string>
		</dict>
		<key>TestAppDelegates/TestAppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<string>TestAppDelegates</string>
			<key>Path</key>
			<string>TestAppDelegates/TestAppDelegate.swift</string>
		</dict>
		<key>TestAppDelegates/TestSceneDelegate.swift</key>
		<dict>
			<key>Group</key>
			<string>TestAppDelegates</string>
			<key>Path</key>
			<string>TestAppDelegates/TestSceneDelegate.swift</string>
		</dict>
		<key>TestDoubles/MockAppState.swift</key>
		<dict>
			<key>Group</key>
			<string>TestDoubles</string>
			<key>Path</key>
			<string>TestDoubles/MockAppState.swift</string>
		</dict>
		<key>TestDoubles/MockCoordinatorFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>TestDoubles</string>
			<key>Path</key>
			<string>TestDoubles/MockCoordinatorFactory.swift</string>
		</dict>
		<key>TestDoubles/MockItemsStore.swift</key>
		<dict>
			<key>Group</key>
			<string>TestDoubles</string>
			<key>Path</key>
			<string>TestDoubles/MockItemsStore.swift</string>
		</dict>
		<key>TestDoubles/SpyControllerFactory.swift</key>
		<dict>
			<key>Group</key>
			<string>TestDoubles</string>
			<key>Path</key>
			<string>TestDoubles/SpyControllerFactory.swift</string>
		</dict>
		<key>TestDoubles/SpyCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<string>TestDoubles</string>
			<key>Path</key>
			<string>TestDoubles/SpyCoordinator.swift</string>
		</dict>
		<key>TestDoubles/SpyRouter.swift</key>
		<dict>
			<key>Group</key>
			<string>TestDoubles</string>
			<key>Path</key>
			<string>TestDoubles/SpyRouter.swift</string>
		</dict>
		<key>TestHelpers/TestHelpers.swift</key>
		<dict>
			<key>Group</key>
			<string>TestHelpers</string>
			<key>Path</key>
			<string>TestHelpers/TestHelpers.swift</string>
		</dict>
		<key>README.md</key>
		<dict>
			<key>Path</key>
			<string>README.md</string>
		</dict>
	</dict>
</dict>
</plist>
